alias c="clear"
alias lla="ls -al"
alias zshconfig="vim ~/.zshrc"
alias zshmac="vim ~/.zshrc.darwin"
alias zshlinux="vim ~/.zshrc.linux"
alias zshenable="source ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias gdev="cd $DEV_HOME"
alias ggo="cd $GO_DEV"
alias gnice="cd $DEV_HOME/nice"
alias gblog="cd $BLOG"
alias mux="tmuxinator"
