alias ls='ls --color=auto'
alias lla="ls --color=auto -al"
alias grep='grep --colour=auto'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'
alias c="clear"
# confirm before overwriting something
alias cp="cp -i"
alias rm="rm -i"
# human-readable sizes
alias df='df -h'
# show sizes in MB
alias free='free -g'
# dont use more, use less instead
alias more=less
alias zshconfig="vim ~/.zshrc"
alias zshmac="vim ~/.zshrc.darwin"
alias zshlinux="vim ~/.zshrc.linux"
alias zsharch="vim ~/.zshrc.arch"
alias zshenable="source ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias gopt="cd $OPT_BIN"
alias gdev="cd $DEV_HOME"
alias ggo="cd $GO_DEV"
alias gok="cd $DEV_HOME/onekeyenv"
alias gblog="cd $BLOG"
alias mux="tmuxinator"
alias tailf="tail -f"

# kundb 
alias pubg="mysql -h127.0.0.1 -P15307 -uvt_app -p123"
alias spubg="mysql -h127.0.0.1 -P15307 -uvt_app -p123 --enable-cleartext-plugin --ssl-ca=$VTTOP/examples/local_mfed/sub_scripts/ca-cert.pem --ssl-cert=$VTTOP/examples/local_mfed/sub_scripts/kungate-client-cert.pem --ssl-key=$VTTOP/examples/local_mfed/sub_scripts/kungate-client-key.pem --ssl-mode=VERIFY_CA"
alias privg="mysql -h127.0.0.1 -P15306 -uvt_app -p123"
