[user]
	name = klkyy2018
	email = klkyy2018@gmail.com
[core]
	editor = vim
	autocrlf = false
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	supdate = submodule update --remote --merge
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
[push]
	default = simple
[diff]
	submodule = log
