[user]
	name = klkyy2020
	email = klkyy2020@163.com
[core]
	editor = vim
	autocrlf = false
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	supdate = submodule update --remote --merge
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
[push]
	default = simple
[diff]
	submodule = log
[alias]
  mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
